//一像素上边框
top-border-1px($color,$width)
  position relative
  &::before
    content ''
    position absolute
    top 0
    left 0
    width 100%
    width $width
    height 1px
    background-color $color
    transform scale(.5)
//一像素下边框
bottom-border-1px($color,$width)
  position relative
  &::after
    content ''
    position absolute
    bottom 0
    left 0
    width 100%
    width $width
    height 1px
    background-color $color
    transform scale(.5)

//根据像素比使用2x图，3x图

//清除浮动
